---
import ArrowLeft from "@/assets/icons/arrow-left.svg"
import ArrowRight from "@/assets/icons/arrow-right.svg"
import ScrollToTop from "@/components/ScrollToTop.astro"
import type { WritingEntry } from "@/lib/content"
import { writingPath } from "@/lib/utils"

type Props = { previous?: WritingEntry; next?: WritingEntry }

const { previous, next } = Astro.props
---

<post-actions>
  <a
    href={previous && writingPath(previous.id)}
    data-icon-button
    data-dir="prev"
    aria-label={previous && `Previous post: ${previous.data.title}`}
    aria-hidden={!previous || undefined}
    title={previous?.data.title}
  >
    <ArrowLeft />
  </a>
  <a
    href={next && writingPath(next.id)}
    data-icon-button
    data-dir="next"
    aria-label={next && `Next post: ${next.data.title}`}
    aria-hidden={!next || undefined}
    title={next?.data.title}
  >
    <ArrowRight />
  </a>
  <ScrollToTop />
</post-actions>

<style>
  post-actions {
    display: contents;

    @media (width < 64rem) {
      display: none;
    }
  }

  a {
    color: var(--foreground);

    &:not([href]) {
      color: var(--muted-foreground);
      opacity: 0.5;
      pointer-events: none;
    }
  }
</style>
