---
import MetaPage from "@/components/MetaPage.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout>
  <MetaPage slot="head" />
  <home-intro>
    <h1 data-greeting>Hello</h1>
    <prose-content>
      <p>
        I'm Viet. 👋
      </p>
      <p>
        I build industrial robotics 🤖 and manufacturing
        systems—real-world automation that powers modern factories.
      </p>
      <p>
        Previously, I worked in banking and finance, focused on corporate
        lending and capital financing.
      </p>
      <p>
        You'll also likely find me waitering tables and talking to 
        random strangers at <a href="https://maps.app.goo.gl/RCQeb1NXjn82n1jn9">Ai Izakaya</a> 
        or <a href="https://maps.app.goo.gl/MLYB2SFwL4q8vgww8">Sake Labo</a>.
      </p>
      <p>
        In my free time, I read  about business, economics, technology, 
        history, and politics. I also enjoy travel, good food & drink,
        great coffee, and learning about different cultures.
      </p>
      <p>
        This is my personal experimental playground for exploring ideas, obsessions,
        and the occasional rabbit 🐰 holes.
      </p>
    </prose-content>
  </home-intro>
</Layout>

<style>
  home-intro {
    display: block;

    @media (width >= 64rem) {
      margin-block-start: -0.2em;
    }

    h1 {
      font-size: var(--step-3);
      line-height: calc(var(--leading-offset) + 1em);
      font-weight: var(--font-weight-medium);
      color: var(--foreground);
      margin-block-end: var(--space-m);
    }
  }
</style>

<script>
  const el = document.querySelector<HTMLElement>("[data-greeting]")
  if (el) {
    const hour = new Date().getHours()
    el.textContent =
      hour >= 18
        ? "Good evening"
        : hour >= 12
          ? "Good afternoon"
          : hour >= 5
            ? "Good morning"
            : hour >= 3
              ? "It's late, go to bed"
              : "Hello"
  }
</script>
