<h1 id="home-greeting" data-greeting>Hello</h1>

<style>
  h1 {
    margin-block-end: var(--space-m);
    color: var(--foreground);
    font-size: var(--step-3);
    font-weight: var(--font-weight-medium);
    line-height: calc(var(--leading-offset) + 1em);
  }
</style>

<script>
  const getGreeting = (hour: number) => {
    if (hour >= 18) return "Good evening"
    if (hour >= 12) return "Good afternoon"
    if (hour >= 5) return "Good morning"
    if (hour >= 3) return "It's late, go to bed"
    return "Hello"
  }

  const greeting = document.querySelector<HTMLElement>("[data-greeting]")

  if (greeting) {
    greeting.textContent = getGreeting(new Date().getHours())
  }
</script>
