---
import { SITE } from "@/consts"
---

<footer>
  <p>
    &copy; {new Date().getFullYear()}
    {SITE.title}
  </p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    margin-block: var(--space-xs) var(--page-offset-bottom);

    p {
      font-size: var(--step--1);
      color: var(--muted-foreground);
    }
  }
</style>
