---
import MetaPage from "@/components/MetaPage.astro"
import WritingCard from "@/components/writing/WritingCard.astro"
import Layout from "@/layouts/Layout.astro"
import { getPosts } from "@/lib/content"

const posts = await getPosts()
---

<Layout>
  <MetaPage slot="head" title="Writing" />
  <header class="page-intro">
    <h1 class="page-title">Writing</h1>
  </header>
  <ul>
    {posts.map((post) => <WritingCard post={post} />)}
  </ul>
</Layout>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
  }
</style>
